.sell-container {
    display: flex;
    justify-content:center;
    align-items:center;
}

.sell-box {
    padding: 1rem;
}

.input-field {
    height: 50px;
    background-color: #F4F4F4;
    border: none;
    border-radius: 10px;
  }